.modalImg_landscape{
    height:auto;
    width: auto;
}

@media(min-width:768px){


.modalImg_landscape{
    height:15vmin;
    width: auto;
}
}

.entertainmentModal_title{
    font-size: 2.5vmin;
}
.tagline{
    font-size:2.5vmin;
}

.EntertainmentModal_description{
    width:100%;
    font-size: 2.5vmin;
}

.entBtn{
   text-align: center;
   
}