.modalImg_landscape{
    
}


.entertainmentModal_title{
    font-size: 2.5vmin;
}
.tagline{
    font-size:2.5vmin;
}

.EntertainmentModal_description{
    width:100%;
    font-size: 2.5vmin;
}

.entBtn{
   text-align: center;
   
}